In [1]:
import pandas as pd 
import numpy as np 
import json
import datetime

In [101]:
def get_data(comp):
    append_data=[]
    get_range=range(1,7)
    for i in get_range:
        df=pd.read_html(f"https://www.biznesradar.pl/notowania-historyczne/{comp},{i}")[0]
        df=df[["Data", "ZamkniÄ™cie"]]
        append_data.append(df)
    append_data=pd.concat(append_data)
    return append_data

In [220]:
comp_list=["WIG","ALE", "ASSECO-POLAND", "DNP", "JSW-JASTRZEBSKA-SPOLKA-WEGLOWA", "CD-PROJEKT", "KGHM", "KRUK", "PCO", "PGE", "PZU", "PKO", "SPL", "MBANK", "ALIOR-BANK","KETY","LPP", "ORLEN", "PEKAO","ORANGE", "CYFROWY-POLSAT"]

In [221]:
wig_dict={}
for comp in comp_list:
    try:
        df=get_data(comp)
        wig_dict[comp]=df
    except Exception as e:
        print(comp, e)

In [222]:
json_dict = {}
for key, value in wig_dict.items():
    json_dict[key] = value.to_dict(orient='records')

In [223]:
with open("/Users/wojtekmarszalek/Desktop/wig.json", 'w') as file:
    json.dump(json_dict, file)

In [5]:
with open("/Users/wojtekmarszalek/Desktop/wig.json", 'r') as file:
    json_data = file.read()

json_dict = json.loads(json_data)

wig_dict = {}
for key, value in json_dict.items():
    wig_dict[key] = pd.DataFrame.from_records(value)

In [8]:
wig_dict

{'WIG':            Data       WIG
 0    26.01.2024  75683.59
 1    25.01.2024  75219.71
 2    24.01.2024  75351.32
 3    23.01.2024  74601.92
 4    22.01.2024  74954.24
 ..          ...       ...
 295  23.11.2022  55119.04
 296  22.11.2022  55166.92
 297  21.11.2022  54259.77
 298  18.11.2022  54891.25
 299  17.11.2022  54791.43

 [300 rows x 2 columns],
 'ALE':            Data     ALE
 0    26.01.2024  30.220
 1    25.01.2024  30.200
 2    24.01.2024  30.520
 3    23.01.2024  30.000
 4    22.01.2024  30.225
 ..          ...     ...
 295  23.11.2022  23.930
 296  22.11.2022  23.620
 297  21.11.2022  23.305
 298  18.11.2022  24.405
 299  17.11.2022  24.830

 [300 rows x 2 columns],
 'ASSECO-POLAND':            Data  ASSECO-POLAND
 0    26.01.2024          73.30
 1    25.01.2024          72.50
 2    24.01.2024          72.10
 3    23.01.2024          71.75
 4    22.01.2024          72.40
 ..          ...            ...
 295  23.11.2022          70.65
 296  22.11.2022          71.55
 297  21.11.2022          70.55
 298  18.11.2022          70.45
 299  17.11.2022          68.65

 [300 rows x 2 columns],
 'DNP':            Data    DNP
 0    26.01.2024  425.4
 1    25.01.2024  423.1
 2    24.01.2024  419.0
 3    23.01.2024  415.9
 4    22.01.2024  410.0
 ..          ...    ...
 295  23.11.2022  368.8
 296  22.11.2022  368.0
 297  21.11.2022  359.0
 298  18.11.2022  357.0
 299  17.11.2022  351.8

 [300 rows x 2 columns],
 'JSW-JASTRZEBSKA-SPOLKA-WEGLOWA':            Data  JSW-JASTRZEBSKA-SPOLKA-WEGLOWA
 0    26.01.2024                           42.98
 1    25.01.2024                           42.20
 2    24.01.2024                           42.80
 3    23.01.2024                           41.71
 4    22.01.2024                           38.20
 ..          ...                             ...
 295  23.11.2022                           46.54
 296  22.11.2022                           46.40
 297  21.11.2022                           45.00
 298  18.11.2022                           46.37
 299  17.11.2022                           45.86

 [300 rows x 2 columns],
 'CD-PROJEKT':            Data  CD-PROJEKT
 0    26.01.2024      105.15
 1    25.01.2024      106.35
 2    24.01.2024      105.50
 3    23.01.2024      103.75
 4    22.01.2024      101.55
 ..          ...         ...
 295  23.11.2022      138.60
 296  22.11.2022      137.94
 297  21.11.2022      139.28
 298  18.11.2022      145.00
 299  17.11.2022      146.84

 [300 rows x 2 columns],
 'KGHM':            Data    KGHM
 0    26.01.2024  113.35
 1    25.01.2024  111.85
 2    24.01.2024  113.00
 3    23.01.2024  108.10
 4    22.01.2024  105.75
 ..          ...     ...
 295  23.11.2022  115.40
 296  22.11.2022  114.35
 297  21.11.2022  109.70
 298  18.11.2022  113.95
 299  17.11.2022  115.10

 [300 rows x 2 columns],
 'KRUK':            Data   KRUK
 0    26.01.2024  453.6
 1    25.01.2024  446.6
 2    24.01.2024  459.0
 3    23.01.2024  444.0
 4    22.01.2024  452.2
 ..          ...    ...
 295  23.11.2022  281.8
 296  22.11.2022  281.8
 297  21.11.2022  277.2
 298  18.11.2022  283.6
 299  17.11.2022  281.4

 [300 rows x 2 columns],
 'PCO':            Data    PCO
 0    26.01.2024  21.58
 1    25.01.2024  21.64
 2    24.01.2024  22.12
 3    23.01.2024  21.98
 4    22.01.2024  22.56
 ..          ...    ...
 295  23.11.2022  39.92
 296  22.11.2022  39.76
 297  21.11.2022  40.00
 298  18.11.2022  39.56
 299  17.11.2022  39.00

 [300 rows x 2 columns],
 'PGE':            Data    PGE
 0    26.01.2024  8.274
 1    25.01.2024  8.222
 2    24.01.2024  8.280
 3    23.01.2024  8.052
 4    22.01.2024  8.206
 ..          ...    ...
 295  23.11.2022  6.606
 296  22.11.2022  6.824
 297  21.11.2022  6.720
 298  18.11.2022  6.558
 299  17.11.2022  6.602

 [300 rows x 2 columns],
 'PZU':            Data    PZU
 0    26.01.2024  46.50
 1    25.01.2024  46.50
 2    24.01.2024  46.52
 3    23.01.2024  46.29
 4    22.01.2024  46.80
 ..          ...    ...
 295  23.11.2022  30.02
 296  22.11.2022  30.05
 297  21.11.2022  29.53
 298  18.11.2022  29.59
 299  17.11.2022  29.25

 [300 rows x 2 columns],
 'PKO':            Data    PKO
 0    26.01.2024  49.26
 1    25.01.2024  48.75
 2    24.01.2024  48.72
 3    23.01.2024  49.62
 4    22.01.2024  49.95
 ..          ...    ...
 295  23.11.2022  28.07
 296  22.11.2022  28.15
 297  21.11.2022  27.86
 298  18.11.2022  28.06
 299  17.11.2022  27.88

 [300 rows x 2 columns],
 'SPL':            Data    SPL
 0    26.01.2024  467.8
 1    25.01.2024  460.8
 2    24.01.2024  461.6
 3    23.01.2024  459.4
 4    22.01.2024  463.6
 ..          ...    ...
 295  23.11.2022  269.0
 296  22.11.2022  270.4
 297  21.11.2022  270.4
 298  18.11.2022  272.0
 299  17.11.2022  272.4

 [300 rows x 2 columns],
 'MBANK':            Data  MBANK
 0    26.01.2024  506.8
 1    25.01.2024  498.2
 2    24.01.2024  498.1
 3    23.01.2024  494.5
 4    22.01.2024  502.0
 ..          ...    ...
 295  23.11.2022  314.8
 296  22.11.2022  312.4
 297  21.11.2022  313.8
 298  18.11.2022  320.2
 299  17.11.2022  327.6

 [300 rows x 2 columns],
 'ALIOR-BANK':            Data  ALIOR-BANK
 0    26.01.2024       72.70
 1    25.01.2024       72.00
 2    24.01.2024       71.56
 3    23.01.2024       70.48
 4    22.01.2024       70.90
 ..          ...         ...
 295  23.11.2022       33.00
 296  22.11.2022       32.72
 297  21.11.2022       32.34
 298  18.11.2022       33.06
 299  17.11.2022       32.60

 [300 rows x 2 columns],
 'KETY':            Data   KETY
 0    26.01.2024  694.0
 1    25.01.2024  686.0
 2    24.01.2024  690.0
 3    23.01.2024  674.0
 4    22.01.2024  678.0
 ..          ...    ...
 295  23.11.2022  562.0
 296  22.11.2022  562.0
 297  21.11.2022  542.0
 298  18.11.2022  540.0
 299  17.11.2022  539.0

 [300 rows x 2 columns],
 'LPP':            Data      LPP
 0    26.01.2024  14990.0
 1    25.01.2024  15000.0
 2    24.01.2024  15130.0
 3    23.01.2024  15070.0
 4    22.01.2024  15260.0
 ..          ...      ...
 295  23.11.2022   9020.0
 296  22.11.2022   9220.0
 297  21.11.2022   9100.0
 298  18.11.2022   9250.0
 299  17.11.2022   9180.0

 [300 rows x 2 columns],
 'ORLEN':            Data  ORLEN
 0    26.01.2024  61.02
 1    25.01.2024  60.47
 2    24.01.2024  60.71
 3    23.01.2024  60.05
 4    22.01.2024  60.01
 ..          ...    ...
 295  23.11.2022  63.60
 296  22.11.2022  64.14
 297  21.11.2022  61.50
 298  18.11.2022  62.76
 299  17.11.2022  64.10

 [300 rows x 2 columns],
 'PEKAO':            Data   PEKAO
 0    26.01.2024  148.10
 1    25.01.2024  146.45
 2    24.01.2024  147.00
 3    23.01.2024  145.85
 4    22.01.2024  148.00
 ..          ...     ...
 295  23.11.2022   83.76
 296  22.11.2022   84.00
 297  21.11.2022   83.36
 298  18.11.2022   83.80
 299  17.11.2022   83.34

 [300 rows x 2 columns],
 'ORANGE':            Data  ORANGE
 0    26.01.2024   8.574
 1    25.01.2024   8.410
 2    24.01.2024   8.420
 3    23.01.2024   8.510
 4    22.01.2024   8.528
 ..          ...     ...
 295  23.11.2022   6.608
 296  22.11.2022   6.732
 297  21.11.2022   6.536
 298  18.11.2022   6.576
 299  17.11.2022   6.472

 [300 rows x 2 columns],
 'CYFROWY-POLSAT':            Data  CYFROWY-POLSAT
 0    26.01.2024          11.125
 1    25.01.2024          10.910
 2    24.01.2024          11.075
 3    23.01.2024          11.035
 4    22.01.2024          11.075
 ..          ...             ...
 295  23.11.2022          18.250
 296  22.11.2022          18.010
 297  21.11.2022          17.970
 298  18.11.2022          17.820
 299  17.11.2022          17.750

 [300 rows x 2 columns]}

In [9]:
for key, df in wig_dict.items():
    df.rename({"ZamkniÄ™cie":key}, axis=1, inplace=True)
    
df_combined=pd.concat(wig_dict.values(), axis=1)

selected_columns = [df_combined.columns[i] for i in range(1, len(df_combined.columns), 2)]
df_selected = df_combined[selected_columns]
df_selected["Data"]=df_combined.iloc[:,0]
df_selected=df_selected[['Data','WIG','ALE', 'ASSECO-POLAND', 'DNP', "JSW-JASTRZEBSKA-SPOLKA-WEGLOWA", 'CD-PROJEKT', 'KGHM', 'KRUK',
       'PCO', 'PGE', 'PZU', 'PKO', 'SPL', 'MBANK', 'ALIOR-BANK', 'KETY',
       'LPP', 'ORLEN', 'PEKAO', 'ORANGE', 'CYFROWY-POLSAT']]
df_selected["Data"]=df_selected["Data"].str.replace(".","-")
df_selected["Data"]=pd.to_datetime(df_selected["Data"], format='%d-%m-%Y')
df_selected.sort_values("Data", inplace=True)
df_selected=df_selected[31:]

/var/folders/lv/5hlry00j1vl3lmxtg4gj8r6r0000gn/T/ipykernel_58386/4026665707.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["Data"]=df_combined.iloc[:,0]
/var/folders/lv/5hlry00j1vl3lmxtg4gj8r6r0000gn/T/ipykernel_58386/4026665707.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_selected["Data"]=df_selected["Data"].str.replace(".","-")

In [10]:
df_selected

,Data,WIG,ALE,ASSECO-POLAND,DNP,JSW-JASTRZEBSKA-SPOLKA-WEGLOWA,CD-PROJEKT,KGHM,KRUK,PCO,...,PKO,SPL,MBANK,ALIOR-BANK,KETY,LPP,ORLEN,PEKAO,ORANGE,CYFROWY-POLSAT
268,2023-01-02,57694.00,25.440,73.20,369.2,57.98,129.34,127.65,311.8,40.26,...,30.27,256.0,297.4,34.70,474.5,10580.0,64.60,86.52,6.712,17.800
267,2023-01-03,58795.62,26.665,73.00,359.4,55.00,129.00,130.50,315.0,40.04,...,31.76,268.6,322.2,38.39,485.0,10990.0,65.20,90.90,6.680,17.700
266,2023-01-04,59754.40,27.000,73.35,360.0,57.50,127.50,132.50,318.6,40.14,...,32.67,282.8,334.0,41.05,478.5,10960.0,65.76,93.48,6.760,18.040
265,2023-01-05,59854.80,26.650,73.30,352.8,56.52,132.56,136.50,319.8,41.14,...,33.19,287.0,336.4,41.72,480.0,11190.0,62.46,94.48,6.878,18.540
264,2023-01-09,61364.58,28.660,75.85,365.3,58.08,133.74,148.10,330.0,41.52,...,34.43,295.8,345.0,42.95,476.0,11730.0,62.00,98.46,7.050,19.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2024-01-22,74954.24,30.225,72.40,410.0,38.20,101.55,105.75,452.2,22.56,...,49.95,463.6,502.0,70.90,678.0,15260.0,60.01,148.00,8.528,11.075
3,2024-01-23,74601.92,30.000,71.75,415.9,41.71,103.75,108.10,444.0,21.98,...,49.62,459.4,494.5,70.48,674.0,15070.0,60.05,145.85,8.510,11.035
2,2024-01-24,75351.32,30.520,72.10,419.0,42.80,105.50,113.00,459.0,22.12,...,48.72,461.6,498.1,71.56,690.0,15130.0,60.71,147.00,8.420,11.075
1,2024-01-25,75219.71,30.200,72.50,423.1,42.20,106.35,111.85,446.6,21.64,...,48.75,460.8,498.2,72.00,686.0,15000.0,60.47,146.45,8.410,10.910
0,2024-01-26,75683.59,30.220,73.30,425.4,42.98,105.15,113.35,453.6,21.58,...,49.26,467.8,506.8,72.70,694.0,14990.0,61.02,148.10,8.574,11.125

In [11]:
df_return=df_selected[['WIG','ALE', 'ASSECO-POLAND', 'DNP', 'JSW-JASTRZEBSKA-SPOLKA-WEGLOWA',
       'CD-PROJEKT', 'KGHM', 'KRUK', 'PCO', 'PGE', 'PZU', 'PKO', 'SPL',
       'MBANK', 'ALIOR-BANK', 'KETY', 'LPP', 'ORLEN', 'PEKAO', 'ORANGE',
       'CYFROWY-POLSAT']].pct_change()
df_return=df_return[1:]
df_return["Data"]=df_selected["Data"][1:]
df_return=df_return[['Data', 'WIG', 'ALE', 'ASSECO-POLAND', 'DNP', 'JSW-JASTRZEBSKA-SPOLKA-WEGLOWA',
       'CD-PROJEKT', 'KGHM', 'KRUK', 'PCO', 'PGE', 'PZU', 'PKO', 'SPL',
       'MBANK', 'ALIOR-BANK', 'KETY', 'LPP', 'ORLEN', 'PEKAO', 'ORANGE',
       'CYFROWY-POLSAT']]
df_return.to_excel("/Users/wojtekmarszalek/Desktop/wig.xlsx",index=False)

In [12]:
df_return

,Data,WIG,ALE,ASSECO-POLAND,DNP,JSW-JASTRZEBSKA-SPOLKA-WEGLOWA,CD-PROJEKT,KGHM,KRUK,PCO,...,PKO,SPL,MBANK,ALIOR-BANK,KETY,LPP,ORLEN,PEKAO,ORANGE,CYFROWY-POLSAT
267,2023-01-03,0.019094,0.048153,-0.002732,-0.026544,-0.051397,-0.002629,0.022327,0.010263,-0.005464,...,0.049224,0.049219,0.083389,0.106340,0.022129,0.038752,0.009288,0.050624,-0.004768,-0.005618
266,2023-01-04,0.016307,0.012563,0.004795,0.001669,0.045455,-0.011628,0.015326,0.011429,0.002498,...,0.028652,0.052867,0.036623,0.069289,-0.013402,-0.002730,0.008589,0.028383,0.011976,0.019209
265,2023-01-05,0.001680,-0.012963,-0.000682,-0.020000,-0.017043,0.039686,0.030189,0.003766,0.024913,...,0.015917,0.014851,0.007186,0.016322,0.003135,0.020985,-0.050182,0.010697,0.017456,0.027716
264,2023-01-09,0.025224,0.075422,0.034789,0.035431,0.027601,0.008902,0.084982,0.031895,0.009237,...,0.037361,0.030662,0.025565,0.029482,-0.008333,0.048257,-0.007365,0.042125,0.025007,0.029666
263,2023-01-10,0.009822,0.008723,-0.013843,-0.000821,0.006887,0.033049,0.018569,0.013333,0.000963,...,0.016555,0.010142,0.031884,0.012340,0.035714,0.068201,0.000000,0.013610,0.004255,-0.001048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2024-01-22,0.002398,-0.040781,0.030605,-0.010140,0.005528,0.023690,-0.012605,0.036205,-0.028424,...,0.003415,-0.004723,0.005408,0.015468,0.004444,0.003287,0.001168,0.028492,0.011625,0.009572
3,2024-01-23,-0.004700,-0.007444,-0.008978,0.014390,0.091885,0.021664,0.022222,-0.018134,-0.025709,...,-0.006607,-0.009060,-0.014940,-0.005924,-0.005900,-0.012451,0.000667,-0.014527,-0.002111,-0.003612
2,2024-01-24,0.010045,0.017333,0.004878,0.007454,0.026133,0.016867,0.045328,0.033784,0.006369,...,-0.018138,0.004789,0.007280,0.015323,0.023739,0.003981,0.010991,0.007885,-0.010576,0.003625
1,2024-01-25,-0.001747,-0.010485,0.005548,0.009785,-0.014019,0.008057,-0.010177,-0.027015,-0.021700,...,0.000616,-0.001733,0.000201,0.006149,-0.005797,-0.008592,-0.003953,-0.003741,-0.001188,-0.014898
0,2024-01-26,0.006167,0.000662,0.011034,0.005436,0.018483,-0.011283,0.013411,0.015674,-0.002773,...,0.010462,0.015191,0.017262,0.009722,0.011662,-0.000667,0.009095,0.011267,0.019501,0.019707